@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

/* Variáveis */
:root {
    --primary-color: #4CAF50; /* Verde para remeter à vegetação */
    --secondary-color: #FFB74D; /* Amarelo para remeter ao campo */
    --text-color: #F2E3D5; /* Cor clara para o texto */
    --background-color: #8D6E63; /* Marrom claro para remeter à terra */
    --button-hover: #388E3C; /* Verde escuro para hover nos botões */
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

/* Body Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

/* Header Styles */
header {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}

.image-container {
    border-radius: 8px;
    overflow: hidden;
    margin: 10px auto 20px;
    width: 80%; /* Ajuste dinâmico para cabeçalhos menores */
    max-height: 400px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

header p {
    font-size: 1.1rem;
    padding: 0 20px;
    margin-bottom: 20px;
}

/* Navigation*
